.m{  
    text-align: center;
    background-color: rgb(113, 116, 113);
   padding:2%;
    
}
.n{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 0.5%;
}
.o{
    text-align: center;
}